


{% load static %}

  <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>

    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#"><img src="/static/images/aclogo.png" alt="Achiever Institute"></a></div>

            <ul class="menu">
                <li><a href="/" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#services" class="menu-btn">Services</a></li>
                <li><a href="#skills" class="menu-btn">Courses</a></li>
                <li><a href="#teams" class="menu-btn">Teams</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
                <li>
                    <a href="{% url 'verifycertificate' %}" class="menu-btn">
                        VerifyCertificate
                    </a>
                </li>
                
                <style>
                    .admin{
                        color: white;
                        font-weight: bold;
                        font-size: 20px;
                        padding: 10px;
                        background-color: #ff523b;
                        border-radius: 10px;
                    }
                </style>

                <li>
                    <a href="/admin/" class="admin p-2 bg-red-400 ">
                        ADMIN
                    </a>
                </li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
